body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas {
    width: 500px;
    height: 550px;
    border: 2px solid black;
}

.screen{
    display: flex;
    flex-grow: 1;
    height: 100px;
    border: 2px solid black;
}

.numpad{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content:space-around;
    gap: 10px;
    flex-grow: 1;
    height: 380px;
    border: 2px solid black;
}

.row{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

input{
    display: flex;
    flex: 1;
    font-size: large;
    font-weight:800;
}

.num{
    display: flex;
    border-radius: 30%;
    overflow: hidden;
    height: 50px;
    width: 50px;
    border: 3px solid black;
}

.upper_half{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    margin: 20px;
    gap: 15px;
}

.clr_del_btn{
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-height: 100px;;
}
